.my-heading{
background-color: pink;
padding:10px;
border-radius: 15px;
font-size; 15px;
font-style:italic;
}

#first-p{
background-color:pink;
padding:7px;
border-radius:15px;
font-style:italic;
}

#second-p{
background-color:lightblue;
padding:7px;
border-radius:15px;
font-style:italic;
}
#para{
background-color: orange;
font-style:italic;
}
#para{
background- color: pink
}
.nav {
   height: 10vh;
   background-color: yellowgreen;
}

nav ul {
    float: right
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-inline: 2rem;
    line-height: 20px;
    
    a {
       font-size: 1rem;

    } 
img {
    display:flex;
    flex-direction:row;
    aspect-ratio: 1/3;
    border-radius: 50%;
}
 

 }